# Vexora Framework - Git Ignore Manifest

# Local Runtime Directories & Secret Configs
.vexora_config/
.vexora_log/
.env
.env.*

# Logs & Storage
*.log
logs/

# Dependencies
node_modules/

# Local Dev Binary Wrapper
vexora.cmd
