# ==========================================================
# Vexora Framework - NPM Ignore Manifest
# ==========================================================

# Test Folders & Test Files
test/
scratch/
live_test/
test_public/
test.js
test*.js
test_*.js
*_test.js
Vexora_test.js
test-server.js

# Local Entry Points & Local Demo Files (Root level only)
/app.js
/server.js
/index.js
!http/server.js

# Environment & Config Secrets
.env
.env.*
*.env

# Logs & Audit Directories
*.log
logs/
.vexora_log/
npm-debug.log*

# Dependencies & Lockfiles
node_modules/
package-lock.json

# IDE & OS System Files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Git Repository Metadata
.git/
.github/
.agents/

# Temporary Local Storage & Upload Test Directories
public/
public1/
public2/
files/
storage/

# Local Instance Configs (Generated dynamically on user projects by Init.setup())
.vexora_config/
.vexora_error_page/
.vexora_info/
.api_routes/
.htaccess
*.example
vexora.cmd