# Ignore test and temporary folders from the published npm package
test/
scratch/

package-lock.json
*.log
Vexora_test.js
files/
.gitignore
node_modules

public/
api/

# Node Modules
node_modules/

api_manager

# Logs
*.log
logs/

# Environment
.env
.env.*

# N.Vexora
.Vexora/
.Vexora_Api/

test_emport.js

# Cache
.cache/

# OS Files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# npm
npm-debug.log*

index.js